@font-face {
    font-family: 'SF-Mono';
    src: url(../../assets/fonts/SF-Mono.dmg)
}

.active {
    background-image: linear-gradient(135deg, rgb(235, 148, 207), rgb(106, 147, 251));
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1100;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    transition: 1s;
}

.bar .social-icon {
    position: fixed;
    bottom: 0px;
    left: 60px;
    right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #64ffda;
    z-index: 15;
}

.social-icon svg {
    width: 30px;
    height: 30px;
    margin-bottom: 20px;
}

.bar .name-icon {
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #64ffda;
    z-index: 15;
}

.name-icon p {
    font-family: 'SF-Mono', monospace;
    writing-mode: vertical-rl;
    margin-bottom: 20px;
}

.bar a {
    color: inherit;
    text-decoration: none;
    height: 100%;
}

.bar li:hover {
    color: rgb(240, 191, 76);
}

.logo-dsw {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

ul {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    text-align: center;
    padding: 0.5rem;
    border-radius: 60px;
    background-color: white;
}

ul li {
    margin: 10px 20px;
    font-size: 1.125rem;
    cursor: pointer;
}

.icon-mode {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.dark .bar {
    color: #fffaf1;
}

.dark ul {
    background-color: #313131;
}

.dark .social-icon {
    color: #57cbff;
}

.dark .name-icon {
    color: #57cbff;
}